body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #34495e;
}

.box {
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #191919;
	text-align: center;
}

.box h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.box input[type='text'], .box input[type='userCode'], .box input[type='password'],.box select
	{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

/* .box input[type='text']:focus, .box input[type='password']:focus,
			.box input[type='userCode']:focus {
	width: 280px;
	border-color: #2ecc71;
} */

.submit {
	border: 0;
	background: none;
	margin: 20px auto;
	margin-top: 20px;
	display: inline-block;
	text-align: center;
	border: 2px solid #3498db;
	padding: 10px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	text-decoration: none;
	font-size: 12px;
}

.submit:hover {
	background: #2ecc71;
	border-color: #2ecc71;
}

img {
	margin: 30px;
	cursor: pointer;
}
input,img{
	vertical-align:middle;
}
.link_1:hover{
	color:	#00FFFF;
}
select{
width:auto;

text-align:center;
text-align-last: center;
}
select option{color:black;
text-align:center;}
